# Server
APP_ENV=development
NODE_ENV=development
PORT=3001

# MongoDB Atlas
MONGODB_URI=mongodb+srv://87fahim:<db_password>@cluster0.cbba9.mongodb.net/chessv2?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173
